# System & IDE
.DS_Store
.env
.vscode/
.idea/

# Dependencies
node_modules/
vendor/

# Docker Content (Ignore data and logs)
/data/*
!/data/.gitkeep
/logs/*
!/logs/.gitkeep

# Config (Ignore SSL keys)
/config/ssl/*
!/config/ssl/.gitkeep

